.socialpost-wrapper {
    overflow: hidden;
    width: 1024px;
    height: 750px;
    position: relative;
    background-color: #267acb;
}
.socialpost-background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #267acb;
}
/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 100px;
}
/* Container */
.content {
    max-width: 297mm; /* A4 paper width */
    margin: 0 auto;
    padding: 10mm;
}
/* Organization logo */
.org-logo {
    position: absolute;
    left: 50px;
    width: 226.77px;
    height: 113.39px;
    top: 0px;
}
.org-logo img {
    top: 25.9px;
    left: 1.56px;
    height: 73%;
    width: 109%;
    position: absolute;
}
/* Organization name */
.org-details {
    color: #fff;
    position: absolute;
    left: 50px;
    top: 325.04px;
    font-size: 45px;
}
.org-address {
    position: absolute;
    color: #fff;
    left: 50px;
    top: 475px;
}

/* Organization email, phone, fax, and website */
.org-email,
.org-alternate-email,
.org-phone,
.org-alternate-phone,
.org-fax,
.org-website {
    margin: 18.9px 0;
}
.org-email {
    font-size: 20px;
    color: #fff;
    position: absolute;
    right: 68.03px;
    bottom: -211.65px;
    height: 18.9px;
    width: 188.98px;
}
.org-email i {
    font-size: 1.5em;
}
.org-website {
    font-size: 25px;
    color: #1f0303;
    position: relative;
    transform: skewX(45deg);
    bottom: -10px;
    left: 175px;
}

.fa-phone{
    position: absolute;
    right: 250px;
    bottom: 25px;
    font-size: 35px;
    transform: rotate(120deg);
    font-weight: bolder;
    color: #fff;
}
.org-phone {
    position: absolute;
    right: 100px;
    bottom: -10px;
    font-size: 20px;
    text-align: justify;
    font-weight: bolder;
    color: #fff;
}
.heading-first {
    position: absolute;
    left: 50px;
    top: 124.72px;
    text-align: left;
    font-size: 45px;
    color: #fff;
}
.heading {
    position: absolute;
    left: 52.91px;
    top: 199.42px;
    height: 113.39px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    color: #FFDC5B;
    text-transform: uppercase;
}
.sub-heading {
    position: absolute;
    left: 75.59px;
    top: 353.95px;
    width: 340.16px;
    height: 37.8px;
    font-weight: bold;
    text-align: left;
    font-size: 28px;
}

.tri1{
    height: 400px;
    width: 400px;
    transform: rotate(45deg);
    position: absolute;
    top: -220px;
    border:20px solid #FFDC5B;
    right: -50px;
    border-radius: 50px;
}

.tri2{
    height: 300px;
    width: 300px;
    transform: rotate(45deg);
    position: absolute;
    bottom: -250px;
    border:15px solid #FFDC5B;
    right: 350px;
    border-radius: 30px;
}

.tri3{
    height: 100px;
    width: 500px;
    transform: skewX(-45deg);
    position: absolute;
    bottom: 0px;
    background-image:linear-gradient(to right, #FFDC5B, orange);
    left: -80px;
}


.tagline1{
    height: 15px;
    width: 350px;
    transform: rotate(-45deg);
    position: absolute;
    top: 350px;
    background-color:#FFDC5B;
    right: -100px;
}

.tagline2{
    height: 15px;
    width: 300px;
    transform: rotate(-45deg);
    position: absolute;
    top: 375px;
    background-color:#FFf;
    right: -100px;
}